.catalog-content {

    &__actions {
        margin-bottom: 48px;
    }

    &__sort {
        display: flex;
        gap: 8px;
    }

    &__dropdown {
       
    }

    &__sort-select {
        padding: 8px 20px;
    }

    &__filter {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 24px;
    }

    &__data {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__buttons-wrapper {
        display: flex;
        gap: 8px;
    }

    &__button-ui {
        padding: 6px 12px;
        border-radius: 8px;
        font-size: 14px;
    }

    &__filters {
        display: flex;
        gap: 8px;
    }

    &__cards {
        display: grid;
        grid-template-rows: 1fr;
        grid-column: auto;
        gap: 32px;
    }

    &__icon-ui {
        color: var(--color-primary);
    }
}