@use '../../base/variables' as *;
@use '../../base/mixins' as m;

.catalog-hero {
    padding: 64px 64px 64px 16px;
     background: url('/src/assets/images/static/catalog-background.png') no-repeat center;
     background-size: cover;

     @include m.laptop {
        padding: 64px 80px 100px 80px;
     }

     &__header {
        display: flex;
        flex-direction: column;
        font-size: 52px;
        line-height: 62px;
        font-weight: 700;
        font-family: var(--font-accent);
     }

     &__highlight {
        color: var(--color-accent-link);
     }
}