@use '../base/variables' as *;
@use '../base/mixins' as m;

.catalog-card {
     position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;

&__image-overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: var(--color-alternative2);
  opacity: 50%;
  border-radius: 20px;
  pointer-events: none;
  z-index: 2
}

    &__price-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__buttons-wrapper {
        display: flex;
        gap: 8px;
    }

    &__banner-wrapper {
        position: relative;
    }

    &__label {
        position: absolute;
        top: 5%;
        left: 5%;
        padding: 8px 16px;
        background-color: var(--color-base);
        color: var(--color-secondary2);
        z-index: 1;
        border-radius: 100px;
        font-size: 16px;
        line-height: 24px;

        &--new {
            background-color: var(--color-label-new);
            color: var(--color-primary-white);
        }

        &--popular {
            background-color: var(--color-accent-link);
            color: var(--color-primary-white);
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 20px;
        line-height: 26px;
        font-weight: 700;
        color: var(--color-primary);
        font-family :var(--font-accent);

        &--sold {
            opacity: 0.5;
        }
    }

    &__subtitle {
          font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: var( --color-secondary);

        &--sold {
            opacity: 0.5;
        }
    }
    
   &__banner {
    width: 100%;
    height: auto;
    object-fit: cover;
}

&__price {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: var(--color-primary);
    font-family :var(--font-accent);

    &--sold {
            opacity: 0.5;
        }
  }

  &__button-like {
    border: 2px solid var(--color-base-icon) ;
  }
}