@use '../base/variables' as *;

.checkbox-wrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  .checkbox-input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }

  .custom-checkbox {
    width: 14px;
    height: 14px;
    border-radius: 4px;
    margin-right: 8px;
    border: 1px solid var(--color-line);
    background-color:  var(--color-base);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    padding: 4px 3px;

    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 6px;
      background: url('/src/assets/images/static/mark.svg') no-repeat center;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      opacity: 0;
      transition: opacity 0.2s ease, transform 0.2s ease, filter 0.2s ease;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  // Active state
.checkbox-input:hover + .custom-checkbox {
     background-color: var(--color-alternative2);
  }

  .checkbox-input:active + .custom-checkbox {
    background-color: var(--color-marina-200);
    border-color: var(--color-marina-200);
  }

  .checkbox-input:focus-visible + .custom-checkbox {
     background-color: var(--color-alternative);
     border-color: var(--color-alternative);
     box-shadow: 0 0 0 2px var( --color-focus) ;
    outline: none;
  }

   .checkbox-input:focus + .custom-checkbox {
     background-color: var(--color-alternative);
     border-color: var(--color-alternative);
  }

  .checkbox-input:disabled + .custom-checkbox {
   background-color: var(--color-separator-bold);
   border-color: transparent;
  }

  .checkbox-input:user-invalid + .custom-checkbox {
   background-color: var(--color-base);
   border-color: var(--color-negative);
   box-shadow: 0 0 0 1px var(--color-negative) ;
   outline: none;
  }

// ===============Checked=================

  .checkbox-input:checked + .custom-checkbox {
    background-color: var(--color-accent-link);
    border-color: transparent;
  }

  .checkbox-input:checked + .custom-checkbox:hover {
    background-color: var(--color-focus);
  }

  .checkbox-input:checked + .custom-checkbox:active {
    background-color: var( --color-marina-200);
  }

  &:active .checkbox-input:checked + .custom-checkbox::after {
    filter: brightness(0) saturate(100%) invert(27%) sepia(100%) saturate(500%) hue-rotate(190deg) brightness(95%) contrast(120%);
}

  .checkbox-input:checked + .custom-checkbox:focus-visible {
    border-color: var(--color-accent-link);
     box-shadow: 0 0 0 2px var( --color-focus) ;
    outline: none;
  }

  .checkbox-input:checked + .custom-checkbox:disabled {
      background-color: var(--color-separator-bold);
   border-color: transparent;
  }

  .checkbox-input:checked + .custom-checkbox:target {
    border-color: var(--color-negative);
   box-shadow: 0 0 0 1px var(--color-negative) ;
   outline: none;
  }

  .checkbox-input:disabled + .custom-checkbox::after {
    filter: brightness(0) saturate(100%) invert(82%) sepia(17%) saturate(175%) hue-rotate(186deg) brightness(135%) opacity(0.36);
  }

  .checkbox-input:checked + .custom-checkbox::after {
    opacity: 1;
  }
}
