@use '../base/variables' as *;

.contact-form__sort-select {
    margin-top: 6px;
}

.dropdown-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background: url('/src/assets/icons/chevron-down.svg') no-repeat center;
    background-size: contain;
    width: 24px;
    height: 24px;
    pointer-events: none;
  }
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: none;

  width: 100%;
  padding: 20px;
  padding-right: 44px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 8px;
  cursor: pointer;
}