@use '../base/variables' as *;

.dropdown {
    // color: $color-primary;
    // background-color: transparent;
    // border: 2px solid $color-separator;
    // font-family: $font-base;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px; 
}