$font-base: 'Poppins', 'Arial', 'Helvetica', sans-serif;
$font-accent: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;


$color-primary: #F5F8FB;
$color-alt: #EFF5FAD1;
$color-secondary: #F8F7FF;
$color-surface: #E7EEF7A8;

$color-accent: #0265DC;
$color-active:#0054B6;
$color-disabled: #E5ECFB5C;
$color-invalid: #EA3829;
$color-focus-visible:#96CEFD;


$color-separator: #D0D7FB2B;
$color-border :#BFC5EE1F;
$color-border-focus: #3892F3;
$color-border-alt: #4a4a57;
$color-border-secondary: #444452;

$Secondary2White: #E7EEF7A8;
$Marina100: #CAE8FF;
$BaseIcon: #FFFFFF;
$Alternative2-Invert :#F4F7FA;


$bg-main: #0D0D15;
$bg-alt: #1D1C28;
$bg-secondary: #1A1925;
$bg-quote: #002754;
$bg-tertiary: #147AF3;
$bg-surface: #2563eb;
$bg-hover: #59A7F6;
$bg-accent-dark: #55555f;
$bg-secondary-dark :#D4D9F242;

$tran-duration: 0.25s;
$btn-padding: 10px 22px;


$screen-desktop: 1780px;
$screen-laptop: 1779px;
$screen-tab: 1279px;
$screen-mob: 677px;