@use '../../base/variables' as *;

.header {

&__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 24px 80px;
 }

 &__nav-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
 }

 &__list {
    display: flex;
    gap: 8px;
 }

 &__actions {
    display: flex;
    align-items: center;
    gap: 8px;
 }

 &__list-link {
    font-size: 14px;
    line-height: 20px;
    padding: 6px 12px;
 }

 &__button {
    font-size: 14px;
    line-height: 20px;
 }

 &__search-input{
    padding: 10px 12px;
    border-radius: 8px;
   //  border-color: var(--color-separator-bold);
 }
}

.burger-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: var( --color-base);
  z-index: 1000;

  &.is-open {
    display: block;
  }
}