@use '../../base/variables' as *;

.header {

&__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 24px 80px;
 }

 &__nav-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
 }

 &__list {
    display: flex;
    gap: 8px;
 }

 &__actions {
    display: flex;
    align-items: center;
    gap: 8px;
 }

 &__list-link {
    padding: 6px 12px;
 }

 &__button {
    padding: 8px;
 }

 &__search-input{
    padding: 10px 22px;
    border-radius: 8px;
    border-color: var(--color-separator-bold);
 }
}