<section class="articles-block">
  <div class="articles-block__wrapper wrapper">
    <div class="articles-block__header">
      <h2 class="articles-block__title subtitle">Latest Expert</h2>
      <a href="#" class="articles-block__link">Explore All Articles</a>
    </div>
    <div class="articles-block__main">
      <article class="article-card">
        <a href="#" class="article-card__link">
          <img src="src/assets/images/static/binabox.png" loading="lazy" alt="Binabox" class="article-card__image" width="408" height="272">
            {# <div class="article-card__image" style="background-image: url(src/assets/images/static/binabox.png)"></div> #}
          <h3 class="article-card__title">Creative Blog</h3>
          <time class="article-card__date" datetime="2024-04-15">15 APRIL 2024</time>
        </a>
      </article>
      <article class="article-card">
        <a href="#" class="article-card__link">
           <img src="src/assets/images/static/the_best_dishes.png" loading="lazy" alt="Best Dishes" class="article-card__image" width="408" height="272">
           {# <div class="article-card__image" style="background-image: url(src/assets/images/static/the_best_dishes.png)"></div> #}
          <h3 class="article-card__title">Creative Blog</h3>
          <time class="article-card__date" datetime="2024-05-05">5 MAY 2024</time>
        </a>
      </article>
    </div>
  </div>
</section>