<section class="category-slider" aria-label="Category slider">
  <div class="category-slider__wrapper">
    <div class="category-slider__item">
      <a class="category-slider__link" href="#">
        <svg class="category-slider__icon" width="150" height="150">
          <use href="img/sprite.svg#discord"></use>
        </svg>
        <span class="category-slider__label">UI Kits</span>
      </a>
    </div>
  </div>
</section>