<section class="categories-promo">
    <div class="categories-promo__card-wrapper">
        <article class="category-card">
            <svg class="category-card__icon"><use href="#"></use></svg>
            <h3 class="category-card__title">Templates</h3>
            <span class="category-card__text">For all needs • Modern</span>
        </article>
        <article class="category-card">
            <svg class="category-card__icon"><use href="#"></use></svg>
            <h3 class="category-card__title">Slides</h3>
            <span class="category-card__text">Pitch-ready • Creative</span>
        </article>
        <article class="category-card">
            <svg class="category-card__icon"><use href="#"></use></svg>
            <h3 class="category-card__title">App Icons</h3>
            <span class="category-card__text">High-quality • Elegant</span>
        </article>
        <article class="category-card">
            <svg class="category-card__icon"><use href="#"></use></svg>
            <h3 class="category-card__title">Design Tools</h3>
            <span class="category-card__text">Easy to use • Unique</span>
        </article>
    </div>
    <div class="category-promo__content">
        <h2 class="category-promo__title">CATEGORIES</h2>
         <strong class="category-promo__subtitle">Discover Assets for Every Project</strong>
        <p class="category-promo__description">From fonts and icons to mockups and templates, 
        our comprehensive categories ensure that you find exactly what you need to your projects.
       </p>
       <a class="button" href="#">Shop Now</a>
    </div>
</section>