<section class="category-promo wrapper">
     <div class="category-promo__content">
        <h2 class="category-promo__title text-label">CATEGORIES</h2>
         <strong class="category-promo__subtitle subtitle">Discover Assets for Every Project</strong>
        <p class="category-promo__description">From fonts and icons to mockups and templates, 
        our comprehensive categories ensure that you find exactly what you need to your projects.
       </p>
       <a class="category-promo__button button button--primary" href="#">Shop Now</a>
    </div>
    <div class="category-promo__cards">
           {% include "src/templates/partials/category-promo-card.njk" %}
    </div>
</section>