<section class="faq">
    <div class="faq__wrapper">
        <div class="faq__info-wrapper">
            <h2 class="faq__title">F.A.Q</h2>
             <p class="faq__subtitle">Answers to Your Questions</p>
            <a class="faq__link button button--secondary" href="#">Ask Us A Question</a>
        </div>
        <div class="faq__questions">
            <ul class="faq__question-list">
                <li class="faq__question-item">
                    <details class="faq__details">
                      <summary class="faq__summary">Can I request a refund?</summary>
                      <p class="faq__answer">
                        Accessing your purchased products is seamless and 
                        hassle-free on our digital design assets marketplace. 
                        Simply log in to your account, navigate to the 'My Purchases' 
                        section, and you'll find all your purchased products ready for download.
                      </p>
                    </details>
                  </li>
                  <li class="faq__question-item">
                    <details class="faq__details">
                      <summary class="faq__summary">How do I access my purchased products?</summary>
                      <p class="faq__answer">
                        Accessing your purchased products is seamless and 
                        hassle-free on our digital design assets marketplace. 
                        Simply log in to your account, navigate to the 'My Purchases' 
                        section, and you'll find all your purchased products ready for download.
                      </p>
                    </details>
                  </li>
                  <li class="faq__question-item">
                    <details class="faq__details">
                      <summary class="faq__summary">Are there any discounts for bulk purchases?</summary>
                      <p class="faq__answer">
                        Accessing your purchased products is seamless and 
                        hassle-free on our digital design assets marketplace. 
                        Simply log in to your account, navigate to the 'My Purchases' 
                        section, and you'll find all your purchased products ready for download.
                      </p>
                    </details>
                  </li>
                  <li class="faq__question-item">
                    <details class="faq__details">
                      <summary class="faq__summary">What payment methods do you accept here?</summary>
                      <p class="faq__answer">
                        Accessing your purchased products is seamless and 
                        hassle-free on our digital design assets marketplace. 
                        Simply log in to your account, navigate to the 'My Purchases' 
                        section, and you'll find all your purchased products ready for download.
                      </p>
                    </details>
                  </li>
                  <li class="faq__question-item">
                    <details class="faq__details">
                      <summary class="faq__summary">Can I sell my digital products on this marketplace?</summary>
                      <p class="faq__answer">
                        Accessing your purchased products is seamless and 
                        hassle-free on our digital design assets marketplace. 
                        Simply log in to your account, navigate to the 'My Purchases' 
                        section, and you'll find all your purchased products ready for download.
                      </p>
                    </details>
                  </li>
            </ul>
        </div>
    </div>
</section>