<section class="main-banner" role="banner">
    <div class="main-banner__wrapper">
      <div class="main-banner__info-wrapper">
        <h1 class="main-banner__title">Craft Your Success with Our Digital Assets</h1>
        <p class="main-banner__subtitle">
          From our inspiring illustrations to dynamic UI/UX kits, elevate your projects with our premium digital design resources.
        </p>
        <div class="main-banner__buttons-wrapper">
          <a class="button" href="#">Shop Now</a>
          <a class="button button--secondary" href="#">
            <span class="button__text">Watch about us</span>
            <svg class="button__icon" width="24" height="24" aria-hidden="true">
              <use href="img/sprite.svg#discord"></use>
            </svg>
          </a>
        </div>
      </div>
      <img class="main-banner__image" src="img/banner-image.png" alt="Main banner" width="624" height="544">
    </div>
  </section>