<section class="popular-products">
    <div class="popular-products__wrapper">
        <div class="popular-products__top">
            <div class="popular-products__title-wrapper">
                <h2 class="popular-products__title text-label">TRENDING</h2>
                <strong class="popular-products__subtitle">Popular Products</strong>
            </div>
            <div class="popular-products__buttons-wrapper">
                <button class="button button--secondary-icon">
                    <svg class="button__icon" width="24" height="24"><use href="#"></use></svg>
                </button>
                <button class="button button--secondary-icon">
                    <svg class="button__icon" width="24" height="24"><use href="#"></use></svg>
                </button>
            </div>
        </div>
        <div class="popular-products__main">
            <article class="product-card">
                  <a class="product-card__link" href="#">
                    <div class="product-card__image-wrapper">
                    <img class="product-card__image" src="src/assets/images/static/product-card.png" width="305" height="272" alt="Travel Hero product image"/>
                    <span class="product-card__label element"></span>
                    </div>
                    <div class="product-card__info-wrapper">
                    <div class="product-card__header-wrapper">
                        <h3 class="product-card__title">Travel Hero</h3>
                        <small class="product-card__price">€29.99</small>
                    </div>
                    <span class="product-card__subtitle">Adventure • Journey</span>
                    </div>
                </a>
            </article>
             <article class="product-card">
                  <a class="product-card__link" href="#">
                    <div class="product-card__image-wrapper">
                    <img class="product-card__image" src="src/assets/images/static/product-card.png" width="305" height="272" alt="Travel Hero product image"/>
                    <span class="product-card__label element"></span>
                    </div>
                    <div class="product-card__info-wrapper">
                    <div class="product-card__header-wrapper">
                        <h3 class="product-card__title">Travel Hero</h3>
                        <small class="product-card__price">€29.99</small>
                    </div>
                    <span class="product-card__subtitle">Adventure • Journey</span>
                    </div>
                </a>
            </article>
                <article class="product-card">
                  <a class="product-card__link" href="#">
                    <div class="product-card__image-wrapper">
                    <img class="product-card__image" src="src/assets/images/static/product-card.png" width="305" height="272" alt="Travel Hero product image"/>
                    <span class="product-card__label element">
                         <img class="product-card__label-icon"
                                    src="src/assets/images/static/trophy.svg"
                                    alt="Cup icon"
                                    width="24" height="24"
                                    />
                    </span>
                    </div>
                    <div class="product-card__info-wrapper">
                    <div class="product-card__header-wrapper">
                        <h3 class="product-card__title">Travel Hero</h3>
                        <small class="product-card__price">€29.99</small>
                    </div>
                    <span class="product-card__subtitle">Adventure • Journey</span>
                    </div>
                </a>
            </article>
                <article class="product-card">
                  <a class="product-card__link" href="#">
                    <div class="product-card__image-wrapper">
                    <img class="product-card__image" src="src/assets/images/static/product-card.png" width="305" height="272" alt="Travel Hero product image"/>
                    <span class="product-card__label element"></span>
                    </div>
                    <div class="product-card__info-wrapper">
                    <div class="product-card__header-wrapper">
                        <h3 class="product-card__title">Travel Hero</h3>
                        <small class="product-card__price">€29.99</small>
                    </div>
                    <span class="product-card__subtitle">Adventure • Journey</span>
                    </div>
                </a>
            </article>
        </div>
    </div>
</section>