<section class="popular-products">
    <div class="popular-products__wrapper">
        <div class="popular-products__top">
            <div class="popular-products__title-wrapper">
                <h2 class="popular-products__title text-label">TRENDING</h2>
                <strong class="popular-products__subtitle">Popular Products</strong>
            </div>
            <div class="popular-products__buttons-wrapper">
                <button class="button button--secondary-icon">
                    <svg class="button__icon" width="24" height="24"><use href="#"></use></svg>
                </button>
                <button class="button button--secondary-icon">
                    <svg class="button__icon" width="24" height="24"><use href="#"></use></svg>
                </button>
            </div>
        </div>
        <div class="popular-products__main">
            {% include "src/templates/partials/popular-products-card.njk" %}
            {% include "src/templates/partials/popular-products-card.njk" %}
            {% include "src/templates/partials/popular-products-card.njk" %}
            {% include "src/templates/partials/popular-products-card.njk" %}
        </div>
    </div>
</section>