<section class="pricing-plan">
    <div class="pricing-plan__wrapper wrapper">
        <div class="pricing-plan__header-wrapper">
        <h2 class="pricing-plan__title text-label">PRICING PLAN</h2>
            <p class="pricing-plan__subtitle subtitle">Choose The Perfect Plan for Creative Potential</p>
        </div>
        <div class="pricing-plan__cards-wrapper">
            <article class="pricing-card">
                <div class="pricing-card__title-wrapper">
                <h3 class="pricing-card__title">Standart Membership</h3>
                <p class="pricing-card__subtitle"><strong class="pricing-card__highlight">€14.99</strong> / Month</p>
                </div>
                <div class="pricing-card__list-wrapper">
                <ul class="pricing-card__list">
                    <li class="pricing-card__list-item">Enhanced Resource Access</li>
                    <li class="pricing-card__list-item">Monthly Credits</li>
                    <li class="pricing-card__list-item">Priority Customer Support</li>
                    <li class="pricing-card__list-item">Community Features Access</li>
                </ul>
                 <a href="#" class="pricing-card__button button button--secondary">Subscribe</a>
                 </div>
            </article>
            <article class="pricing-card pricing-card--accent">
                <div class="pricing-card__title-wrapper">
                    <span class="pricing-card__label element">BEST SELLER</span>
                <h3 class="pricing-card__title">Plus Membership</h3>
                <p class="pricing-card__subtitle"><strong class="pricing-card__highlight">€29.99</strong>/Month</p>
                </div>
                <div class="pricing-card__list-wrapper">
                <ul class="pricing-card__list">
                    <li class="pricing-card__list-item">All Standard Benefits</li>
                    <li class="pricing-card__list-item">Increased Monthly Credits</li>
                    <li class="pricing-card__list-item">Early Access to New Releases</li>
                    <li class="pricing-card__list-item">Member-Only Offers</li>
                </ul>
                <a href="#" class="pricing-card__button button button--primary">Subscribe</a>
                </div>
            </article>
            <article class="pricing-card">
                <div class="pricing-card__title-wrapper">
                <h3 class="pricing-card__title">Pro Membership</h3>
                <p class="pricing-card__subtitle"><strong class="pricing-card__highlight">€49.99</strong>/Month</p>
                </div>
                <div class="pricing-card__list-wrapper">
                <ul class="pricing-card__list">
                    <li class="pricing-card__list-item">All Plus Benefits</li>
                    <li class="pricing-card__list-item">Unlimited Downloads</li>
                    <li class="pricing-card__list-item">Custom Licensing</li>
                    <li class="pricing-card__list-item">Direct Creator Collaboration</li>
                </ul>
                <a href="#" class="pricing-card__button button button--secondary">Subscribe</a>
                </div>
            </article>
        </div>
    </div>
</section>