      <article class="article-card">
      <div class="article-card__image-wrapper">
        <img class="article-card__image" src="src/assets/images/static/best-dishes-article.png" loading="lazy" alt="Best dishes" width="368" height="272">
        <span class="article-card__label">TAG</span>
      </div>
      <div class="article-card__info">
        <h3 class="article-card__title">Best Dishes</h3>
        <time class="article-card__date" datetime="2024-04-15">15 APRIL 2024</time>
      </div>
    </article>