<article class="catalog-card">
            <div class="catalog-card__banner-wrapper">
                <a class="catalog-card__link" href="#">
            <img class="catalog-card__banner" alt="Catalog card"  loading="lazy" src="src/assets/images/static/catalog-card4x.png" alt="Catalog card" width="408" height="260">
                       </a>
            <span class="catalog-card__label">NEW</span>
            </div>
            <div class="catalog-card__info">
              <h2 class="catalog-card__title">Lens Chronicles</h2>
              <span class="catalog-card__subtitle">Photography · Creative</span>
           </div>
           <div class="catalog-card__price-info">
            <span class="catalog-card__price">€20.99</span>
            <div class="catalog-card__buttons-wrapper">
                <button class="catalog-card__button button button--secondary-icon">
            {{ icon('heart', 'icon') }}
            </button>
              <button class="catalog-card__button button button--primary-icon">
            {{ icon('shopping-bag', 'icon') }}
            </button>
           </div>
           </div>
        </article>