  <article class="category-card">
            <div class="category-card__icon-wrapper">
            <img class="category-card__icon" loading="lazy" alt="Icon" src="src/assets/images/static/monitor.svg" width="48" height="48">
            </div>
            <h3 class="category-card__title">Templates</h3>
            <span class="category-card__text">For all needs • Modern</span>
        </article>