<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__main">
            <div class="footer__info-wrapper">
                <div class="footer__logo-wrapper">
                    <img class="footer__logo" src="src/assets/images/static/logo.png" alt="Pixmart logo" width="300" height="58">
                    {# <svg class="footer__logo"><use href="#"></use></svg> #}
                    <p class="footer__description">Your premium digital assets 
                        solution with high quality and comprehensive range of products and services.
                    </p>
                </div>
                <div class="footer__nav-wrapper">
                    <div class="footer__nav-block">
                    <h2 class="footer__nav-title">Company</h2>
                    <nav class="footer__nav">
                           <ul class="footer__list">
                                <li class="footer__nav-item"><a class="footer__nav-link" href="index.html">Homepage v1</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="contact.html">Homepage v2</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">Homepage v3</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">About Us</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">About Us</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="blog.html">Blog Articles</a></li>
                            </ul>
                        </nav>
                        </div>
                        <div class="footer__nav-block">
                        <h2 class="footer__nav-title">Products</h2>
                        <nav class="footer__nav">
                            <ul class="footer__list">
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">Website</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">Mobile App</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">Social Media Feeds</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">Presentation</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">Product Mockups</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">Illustrations</a></li>
                            </ul>
                    </nav>
                    </div>
                    <div class="footer__nav-block">
                    <h2 class="footer__nav-title">Account</h2>
                    <nav class="footer__nav">
                        <ul class="footer__list">
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">Your Cart</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">Check Out</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">Refund Policy</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">Company Policy</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">Send A Message</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">Customer Support</a></li>
                        </ul>
                 </nav>
                   </div>
                </div>
            </div>
            <div class="footer__actions">
                <div class="footer__buttons-wrapper">
                <div class="footer__icons">
                    <ul class="footer__icons-list">
                        {# <li class="footer__icon-item"><a class="footer__icon-link" href="#"><svg class="footer__icon"><use href="#"></use></svg></a></li>
                        <li class="footer__icon-item"><a class="footer__icon-link" href="#"><svg class="footer__icon"><use href="#"></use></svg></a></li>
                        <li class="footer__icon-item"><a class="footer__icon-link" href="#"><svg class="footer__icon"><use href="#"></use></svg></a></li> #}
                        <li class="footer__icon-item"><a class="footer__icon-link button button--secondary-icon" href="#"><img src="src/assets/images/static/twitter-icon.svg" alt="Twitter icon" width="24" height="24"></a></li>
                        <li class="footer__icon-item"><a class="footer__icon-link button button--secondary-icon" href="#"><img src="src/assets/images/static/facebook-icon.svg" alt="Twitter icon" width="24" height="24"></a></li>
                        <li class="footer__icon-item"><a class="footer__icon-link button button--secondary-icon" href="#"><img src="src/assets/images/static/telegram-icon.svg" alt="Twitter icon" width="24" height="24"></a></li>
                    </ul>
                </div>
                    </div>
                    <p class="footer__text">Subscribe to Design Newsletter</p>
                    <div class="footer__input-wrapper">
                    <form class="footer__form" action="/search" method="get">
                       <input type="text" class="footer__input input input--default" name="query" placeholder="Enter your email address ..." aria-label="Search">
                   </form>
                   <button class="footer__button button button--primary">Subscribe</button>
             </div>
            </div>
        </div>
        <div class="footer__bottom">
            <nav class="footer__nav">
                <ul class="footer__list">
                    <li class="footer__list-item"><a href="#" class="footer__list-link link link--secondary">Privacy Policy</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__list-link link link--secondary">Terms and Condition</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__list-link link link--secondary">Site Map</a></li>   
                 </ul>
            </nav>
        <div class="footer__copyright">
          <span>Copyright &copy; 2024 Pixmart. All rights reserved.</span>
       </div>
        </div>
    </div>
</footer>