<header class="header">
    {# <button type="button" class="js-burger">Button</button> #}
        <nav class="burger-menu">
             <ul class="burger-menu__list">
                <li class="burger-menu__list-item"><a class="burger-menu__link link link--secondary" href="blog.html">About</a></li>
                <li class="burger-menu__list-item"><a class="burger-menu__link link link--secondary " href="catalog.html">Products</a></li>
                <li class="burger-menu__list-item"><a class="burger-menu__link link link--secondary" href="#">Creators</a></li>
                <li class="burger-menu__list-item"><a class="burger-menu__link link link--secondary" href="blog.html">Blog</a></li>
                <li class="burger-menu__list-item"><a class="burger-menu__link link link--secondary" href="contact.html">Contact</a></li>
             </ul>
        </nav>
          <div class="header__wrapper">
            <div class="header__logo-wrapper">
             <a href="#" class="menu-button js-burger" aria-label="Open menu">
              <span class="burger-icon"></span>
           </a>
        <div class="header__nav-wrapper">
            <a href="index.html" class="header__logo-link link link--secondary">
        <img alt="Pixtart logo" class="header__logo logo" src="src/assets/images/static/logo.png" loading="lazy" width="107" height="24">
        </a>
        </div>
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__list-item"><a  href="blog.html" class="header__list-link link link--secondary">About</a></li>
                <li class="header__list-item"><a  href="catalog.html" class="header__list-link link link--secondary">Products</a></li>
                <li class="header__list-item"><a  href="creators.html" class="header__list-link link link--secondary">Creators</a></li>
                <li class="header__list-item"><a  href="blog.html" class="header__list-link link link--secondary">Blog</a></li>
                <li class="header__list-item"><a  href="contact.html" class="header__list-link link link--secondary">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="header__actions">
          <form class="header__search-form" action="/search" method="get">
          <div class="header__search-wrapper">
            <label for="header-search" class="visually-hidden">Search for Digital Assets</label>
            <input
              type="text"
              class="header__search-input input input--secondary"
              name="query"
              placeholder="Search for Digital Assets"
              aria-label="Search">
            <button type="submit" class="header__search-button button button--secondary-icon">
              {{ icon('search-md', 'header__search-icon icon') }}
            </button>
          </div>
        </form>
          <a class="header__button button button--primary-icon" href="#" target="_blank">
           {{ icon('shopping-bag', 'header__icon icon') }}
         </a>
    </div>
 </div>
</header>