 <article class="product-card">
                  <a class="product-card__link" href="#">
                    <div class="product-card__image-wrapper">
                    <img class="product-card__image" src="src/assets/images/static/product-card.png" loading="lazy" width="305" height="272" alt="Travel Hero product image"/>
                        <div class="product-card__overlay">
                            <button class="product-card__overlay-button button button--primary">
                            Go to product
                            </button>
                        </div>
                    <span class="product-card__label element">
                    {{ icon('trophy', 'product-card__label-icon icon') }}
                    </span>
                    </div>
                    <div class="product-card__info-wrapper">
                    <div class="product-card__header-wrapper">
                        <h3 class="product-card__title">Travel Hero</h3>
                        <small class="product-card__price">€29.99</small>
                    </div>
                    <span class="product-card__subtitle">Adventure • Journey</span>
                    </div>
                </a>
            </article>