@use '../../base/variables' as *;
@use '../../base/mixins' as m;

.articles-block {
    margin-bottom: 64px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 48px;

    @include m.laptop {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__link {
    font-size: 16px;
    list-style: 24px;
    font-weight: 600;
    color: var(--color-accent-link);
    white-space: nowrap;

    &::after {
          content: "";
            display: inline-block;
            margin-left: 8px;
            width: 14px;
            height: 14px;
            background: url('/src/assets/icons/chevron-right-blue.svg') no-repeat center;
            vertical-align: middle;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include m.laptop {
     flex-direction: row;
      gap: 32px;
    }
  }
}

.article-card {
  background-color: var(--color-base);
  border-radius: 12px;
  overflow: hidden;

  &__link {
    display: flex;
    flex-direction: column;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
     aspect-ratio: 408 / 272;
    border-radius: 12px;
    object-fit: cover;
    background-color: var(--color-secondary2-invert);
    margin-bottom: 24px;

     @include m.laptop {
      aspect-ratio: 456 / 702;
    }

      @include m.desk {
      aspect-ratio: 624 / 702;
    }
  }

  &__title {
     font-family: var(--font-accent);
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    color: var(--color-primary);
    margin-bottom: 8px;
  }

  &__date {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--color-secondary2);
  }
}