@use '../../base/variables' as *;

.category-slider {
    padding-inline: 16px;
    margin-bottom: 64px;

   
    &__wrapper {
    display: flex;
    gap: 24px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    width: 100%;
     gap: 16px;
    }

    &__link {
        font-family: var(--font-accent);
        font-size: 20px;
        line-height: 28px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    &__icon-wrapper {
        padding: 37px;
        background-color: var(--color-alternative2);
        display: inline-block;
        border-radius: 20px;
  }

    &__icon {
        object-fit: contain;
        display: block;
    }
}