@use '../../base/variables' as *;
@use '../../base/mixins' as m;

.faq {
    margin-bottom: 64px;

    &__wrapper{
       display: flex;
       flex-direction: column;
       gap: 64px;
       justify-content: center;

       @include m.laptop {
        flex-direction: row;
        gap: 40px;
       }
     }

    &__info-wrapper {
      display: flex;
      flex-direction: column;
        align-items: flex-start;

         @include m.laptop {
          margin: auto 0;
          width: 50%;
          flex-shrink: 0;
  }
    }

    &__title {
      margin-bottom: 16px;
    }
    
    &__subtitle {
        margin-bottom: 32px;
    }

    &__link {
        width: 100%;

        @include m.laptop {
          width: fit-content;
    }
  }

    &__question-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 0;
    }

  &__details {
    width: 100%;
    padding: 24px;
     border-radius: 10px;
    background-color: var(--color-base);
    box-shadow: 0 0 40px 0 var(--color-secondary2-invert);
    transition: border 0.3s, box-shadow 0.3s;

    &[open] {
      border: 2px solid var(--color-accent-link);
       width: 100%;
    }
  }

//  &__summary-wrapper {
//     position: relative;
//  }

  &__summary {
   display: block;
   width: 100%;
    position: relative;
    list-style: none;
    font-family: var(--font-accent);
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    cursor: pointer;
    white-space: normal;
    word-wrap: break-word;
     padding-right: 48px;

    &::marker {
      display: none;
    }

    &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    background: url('/src/assets/icons/chevron-down.svg') no-repeat center;
    background-size: 14px 14px;
    border: 2px solid var(--color-separator-bold);
    border-radius: 8px;
    transition: transform 0.3s ease;
    }

    details[open] &::after {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &__answer {
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-primary);
  }

}