@use '../../base/variables' as *;
@use '../../base/mixins' as m;

.main-banner {
    margin-bottom: 64px;
   background: linear-gradient(to right, var(--background-card-color), var(--background-card-color2));

&__wrapper {
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 32px 16px 64px 16px;

     @include m.laptop {
      flex-direction: row;
      gap: 100px;
      padding:120px 28px 110px 40px;
     }
}

&__image {
    width: 100%;
    height: auto;
    aspect-ratio: 408 / 248;
    object-fit: cover;
    display: block;

    @include m.laptop {
      order: 2;
     }
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__title {
    font-family: var(--font-accent);
    font-size: 52px;
    font-weight: 700;
    line-height: 62px;
    color: var(--color-primary);
    
  }

  &__accent {
    color:var(--color-accent-link);
  }

  &__subtitle {
        font-family: var(--font-accent);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: var( --color-secondary);
  }

  &__buttons-wrapper {
    display: flex;
    gap: 24px;
  }

  &__button {
    font-size: 18px;
    padding: 18px 32px;
  }

  &__button-icon {
    width: 20px;
    height: 20px;
    color: var(--color-accent-link);
  }
}