@use '../../base/variables' as *;

.popular-products {
    padding-inline: 16px;
    margin-bottom: 36px;
       overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
     padding-bottom: 20px;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
  }


  &__buttons-wrapper{
    display: none;
    // display: flex;
    gap: 12px;
  }


  &__title-wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__title {
    color: var(--color-marina-600);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  &__subtitle {
    font-family: var(--font-accent);
    color:var( --color-primary);
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
  }

  &__main {
    display: flex;
    gap: 16px;
  }
}

.product-card {

  &__link {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__image-wrapper {
    position: relative;
  }

  &__label {
    position: absolute;
    top: 0;
    right: 0;
    width: 56px;
    height: 56px;
    background-color: var(--color-accent-link);
  }

  &__label-icon {
      display: block;
  }

  &__header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4px;
    align-items: center;
  }

  &__title {
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    color: var(--color-primary);
  }

  &__price {
    color: var(--color-accent-link);
    font-size: 16px;
    line-height: 24px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 24px;
  }








}