@use '../../base/variables' as *;
@use '../../base/mixins' as m;

.popular-products {
    padding-inline: 16px;
    margin-bottom: 64px;

    @include m.laptop {
      margin-bottom: 120px;
    }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
  }


  &__buttons-wrapper{
    display: none;
    gap: 12px;
    align-items: end;

    @include m.laptop {
     display: flex;
    }
  }

&__button {
   padding: 18px;
  }

  &__button-icon {
    width: 24px;
    height: 24px;
  }


  &__title-wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__main {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 20px;
   
    @include m.desk {
     justify-content: center;
    }
}
}

.product-card {

  &__link {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__image-wrapper {
    position: relative;
  }

  &__label {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;  
    top: 0;
    right: 0;
    width: 56px;
    height: 56px;
    background-color: var(--color-accent-link);
  }

  &__label-icon {
      display: block;
      color: var( --color-primary-invert);
  }

  &__header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4px;
    align-items: center;
  }

  &__title {
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    color: var(--color-primary);
  }

  &__price {
    color: var(--color-accent-link);
    font-size: 16px;
    line-height: 24px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 24px;
  }








}