@use '../../base/variables' as *;
@use '../../base/mixins' as m;

.pricing-plan {
  padding-inline: 16px;
  background-color: var(--color-base);
  text-align: center;
  margin-bottom: 64px;

  &__wrapper {
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__header-wrapper {
    margin-bottom: 48px;
  }

  &__cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    // flex-wrap: wrap;

    @include m.laptop {
       flex-direction: row;
    }
  }
}


.pricing-card {
  position: relative;
  flex: 1 1 300px;
  background-color: var( --color-base);
  box-shadow: 0 0 40px 0 var(--color-secondary2-invert); // change color
  border-radius: 20px;
  padding: 31px;
  display: flex;
  flex-direction: column;

   &--accent {
    border: 2px solid var(--color-accent-link);
        margin-bottom: 32px;
   }

   &__label {
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px 24px;
    background-color: var(--color-accent-link);
    font-family: var(--font-accent);
    font-family: 20px;
    line-height: 26px;
    font-weight: 700;
    color: var(--color-base);
   }

&__title-wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
}


  &__title {
    font-family:var(--font-accent);
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: var(--color-primary);
  }

  &__subtitle {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--color-disabled);
    margin-bottom: 32px;

    & .pricing-card__highlight {
       font-family:var(--font-accent);
       font-size: 36px;
       line-height: 48px;
       font-weight: 700;
       color: var(--color-primary);
    }
  }

  &__list-wrapper {
    align-items: start;
    padding-top: 40px;
    border-top: 1px solid var(--color-line);
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    padding: 0;
    margin: 0 0 40px;
    flex-grow: 1;

    &-item {
      position: relative;
      padding-left: 28px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: var(--color-primary);

      &::before {
        content: '';
        background: url('/src/assets/images/static/list-mark.svg') no-repeat center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 4px;
         display: inline-block;
         width: 16px;
         height: 15px;
        color: var(--color-accent-link);
        font-size: 14px;
        line-height: 1;
      }
    }
  }

  &__button {
    align-self: center;
    width: 100%;
  }
}