<section class="hero-article wrapper">
  <p class="hero-article__category">Typography</p>
  <h1 class="hero-article__title">
<span class="hero-article__info">Mastering the Art of Typography:</span>
<span class="hero-article__info">Tips for Eye-Catching Designs for 2024</span>
  </h1>
  <img class="hero-article__banner" src="src/assets/images/static/article-banner.png" alt="Typography banner" width="408" height="207">
</section>