<section class="hero-article">
  <p class="hero-article__category">Typography</p>
  <h1 class="hero-article__title">
    Mastering the Art of Typography:<br>Tips for Eye-Catching Designs for 2024
  </h1>
  <img class="hero-article__banner" src="src/assets/images/static/article-banner.png" alt="Typography banner" width="408" height="207">
</section>