@use './base/variables' as *;
@use './components/button' as *;
@use './components/burger' as *;
@use './components/link' as *;
@use './components/switcher' as *;
@use './components/checkbox' as *;
@use './components/radio' as *;
@use './components/input' as *;
@use './components/textarea' as *;
@use './components/dropdown' as *;
@use './components/catalog-card' as *;
@use './components/index/hero-section' as *;
@use './components/index/category-slider' as *;
@use './components/index/pricing-plan' as *;
@use './components/index/category-promo' as *;
@use './components/index/popular-products' as *;
@use './components/index/articles-block' as *;
@use './components/index/faq' as *;
@use './components/blog/hero-article' as *;
@use './components/blog/article-content' as *;
@use './components/blog/releated-articles' as *;
@use './components/contact/contact-form' as *;
@use './components/contact/contact-info' as *;
@use './components/catalog/form-sidebar' as *;
@use './components/catalog/catalog-content' as *;
@use './components/catalog/catalog-hero' as *;
@use './components/layout/header' as *;
@use './components/layout/footer' as *;



*, *::after, *::before {
  box-sizing: border-box;
}

html,
body {
    height: 100%;
    // background-color: var( --color-base);
  }

  body {
    margin: 0 auto;
    background-color: var(--color-base);
    font-family: var( --font-base);
    font-weight: 400;
    min-width: 440px;
  }

  h1, h2, h3, p, ul, ol {
  margin: 0;
}

.wrapper {
  padding-inline: 16px;
}

.content {
  // flex: 1;
  background-color: var(--color-base);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
// .footer {
//   color: white;
//   background-color: red;
// }

// .header {
//   position: relative;
//   min-height: 80px;
//   background-color: aquamarine;
// }

.nav {
  position: absolute;
  top: 50px;
  left: 0;
  width: 360px;
  background: salmon;
  z-index: 2;
   transform: translateX(-100%);
}

.side-menu--active  .nav{
  transform: translateX(0);
}

.filter {
  position: fixed;
  top: 200px;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: bisque;
  z-index: 2;
}

.container {
  max-width: 1728px;
  padding-inline: 16px;
  margin-inline: auto;
}

.element {
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.text-label {
  color: var(--color-marina-600);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.icon {
  width: 24px;
  height: 24px;
}