@use '../../base/variables' as *;

.contact-form {
    margin-bottom:10px ;

   &__container {
      box-shadow: 0 4px 40px 0 var(--box-shadow-color2); //test
      border-radius: 20px;
   }

     &__content {
        padding: 32px;
        display: flex;
        flex-direction: column;
        gap: 20px;
     }

     &__block {
        display: flex;
        flex-direction: column;
        gap: 6px;
     }

     &__input {
        padding: 20px;
     }

     &__group-wrapper {
        display: flex;
        flex-direction: column;
        gap: 6px;
     }

     &__textarea {
        padding: 20px;
     }
}