<section class="contact-info wrapper">
    <div class="contact-info__content">
        <div class="contact-info__info">
      <h2 class="contact-info__title text-label">CONTACT</h2>
      <p class="contact-info__subtitle">
        Get in Touch <br> with Us
      </p>
      <p class="contact-info__description">
        We are here to help you navigate your creative journey. Reach out for any questions, support, or feedback.
      </p>
      </div>
      <a href="#" class="contact-info__button button button--primary">Shop Now</a>
      <ul class="contact-info__list">
        <li class="contact-info__item">
          <a href="tel:+15551234567" class="contact-info__phone link link--secondary">+1 (555) 123-4567</a>
        </li>
        <li class="contact-info__item">
          <a href="mailto:support@pixmart.com" class="contact-info__mail contact-info__phone link link--secondary">support@pixmart.com</a>
        </li>
        <li class="contact-info__item">
         <time class="contact-info__schedule" datetime="09:00">Monday to Friday · 9 AM – 5 PM EST</time>
        </li>
      </ul>
     <div class="contact-info__map">
  <iframe
    class="contact-info__map-frame"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3347.889801938275!2d33.03333331521016!3d34.68333348044179!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14e0a3f0f0f0f0f0%3A0x0!2sLimassol%2C%20Cyprus!5e0!3m2!1sen!2sus!4v1589876543210!5m2!1sen!2sus"
    height="250"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade">
  </iframe>
    </div>
  </div>
</section>