<section class="contact-info">
  <div class="contact-info__content">
    <div class="contact-info__info">
      <h2 class="contact-info__title text-label">CONTACT</h2>
      <p class="contact-info__subtitle">
        <span class="contact-info__text">Get in Touch</span>
        <span class="contact-info__text">with Us</span>
      </p>
      <p class="contact-info__description">
        We are here to help you navigate your creative journey. Reach out for any questions, support, or feedback.
      </p>
    </div>

    <a href="#" class="contact-info__button button button--primary">Shop Now</a>

    <ul class="contact-info__list">
      <li class="contact-info__item">
        <a href="tel:+15551234567" class="contact-info__phone link link--secondary">+1 (555) 123-4567</a>
      </li>
      <li class="contact-info__item">
        <a href="mailto:support@pixmart.com" class="contact-info__mail contact-info__phone link link--secondary">support@pixmart.com</a>
      </li>
      <li class="contact-info__item">
        <time class="contact-info__schedule" datetime="09:00">Monday to Friday · 9 AM – 5 PM EST</time>
      </li>
    </ul>

    <div class="contact-info__map-wrapper">
      <img
        src="src/assets/images/static/contact-map.png"
        class="contact-info__image"
        alt="Map"
        width="408"
        height="314"
        loading="lazy"
      />
      <div class="contact-info__label">
        {# <svg class="contact-info__icon" aria-hidden="true">
        </svg> #}
        {{ icon('marker', 'contact-info__icon icon') }}
        <div class="contact-info__info-wrapper">
          <span class="contact-info__label-info">PixMart HQ</span>
          <address class="contact-info__label-address">
            123 Creative Ave, Design City, 45678
          </address>
        </div>
      </div>
    </div>
  </div>
</section>