{% set title = "Blog" %}
{% extends 'src/templates/layouts/base.njk' %}


{% from 'src/templates/partials/ui/icon.njk' import icon %}
{% block content %}
{% include 'src/templates/partials/blog/hero-article.njk' %}
{% include 'src/templates/partials/blog/article-content.njk' %}
{% include 'src/templates/partials/blog/releated-articles.njk' %}
{% endblock %}