{% extends 'src/templates/layouts/base.njk' %}

{% from 'src/templates/partials/ui/icon.njk' import icon %}
{% block content %}
  {# <h1>{{ index.title }}</h1> #}
{% include 'src/templates/partials/catalog/catalog-hero.njk' %}
{% include 'src/templates/partials/catalog/catalog-content.njk' %}
{% include 'src/templates/partials/catalog/form-sidebar.njk' %}
{% endblock %}s