{% extends 'src/templates/layouts/base.njk' %}

{% block content %}
  {# <h1>{{ index.title }}</h1> #}
{% include 'src/templates/partials/contact/contact-info.njk' %}
{% include 'src/templates/partials/contact/contact-form.njk' %}
{% endblock %}