{% extends 'src/templates/layouts/base.njk' %}

{% block content %}
  {# <h1>{{ index.title }}</h1> #}
  {% include 'src/templates/partials/home/hero-section.njk' %}
  {% include 'src/templates/partials/home/category-slider.njk' %}
  {% include 'src/templates/partials/home/category-promo.njk' %}
  {% include 'src/templates/partials/home/popular-products.njk' %}
  {% include 'src/templates/partials/home/pricing-plan.njk' %}
  {% include 'src/templates/partials/home/faq.njk' %}
  {% include 'src/templates/partials/home/articles-block.njk' %}
{% endblock %}
