<section class="catalog-hero">
    <div class="catalog-hero__container">
        <h1 class="catalog-hero__header">
            Explore Top<br>
            <span class="catalog-hero__highlight">UI Kits</span> Design Assets
            </h1>
    </div>
</section>