<section class="catalog-hero">
    <div class="catalog-hero__container">
        <h1 class="catalog-hero__header">
            <span class="catalog-hero__text">Explore Top</span>
            <span class="catalog-hero__text-wrapper">
                <span class="catalog-hero__highlight">UI Kits</span> 
                <span class="catalog-hero__text">Design Assets</span>
            </span>
            </h1>
    </div>
</section>