<section class="catalog-content wrapper">
    <div class="catalog-content__actions">
        <div class="catalog-content__filter">
            <div class="catalog-content__sort">
                <div class="catalog-content__dropdown dropdown-wrapper">
                    <select class="catalog-content__sort-select input input--default" name="Best sellers">
                    <option value="disabled selected">Best sellers</option>
                    <option value="newest">Best sellers</option>
                    <option value="most-popular">Best sellers</option>
                    </select>
                </div>
                <button class="catalog-content__button button button--primary-icon">
                    <img src="src/assets/images/static/grid.svg" alt="Grid" width="24" height="24">
                </button>
                </div>
                <div class="catalog-content__data">
                    <span class="catalog-content__info">Showing 12 out of 120 results.</span>
                    <div class="catalog-content__buttons-wrapper">
                 <button class="catalog-content__button button button--primary-icon">
                    <img src="src/assets/images/static/grid.svg" alt="Grid" width="24" height="24">
                </button>
                <button class="catalog-content__button button button--primary-icon">
                    <img src="src/assets/images/static/grid.svg" alt="Grid" width="24" height="24">
               </button>
                  </div>
            </div>
        </div>
        <div class="catalog-content__filters">
            <button class="catalog-content__button-ui button button--secondary">UI Kit 
            <img src="src/assets/images/static/x-close.svg" alt="Grid" width="16" height="16">
            </button>
              <button class="catalog-content__button-ui button button--secondary">UI Kit 
            <img src="src/assets/images/static/x-close.svg" alt="Grid" width="16" height="16">
            </button>
        </div>
    </div>
    <div class="catalog-content__cards">
        <article class="catalog-card">
            <div class="catalog-card__banner-wrapper">
            <img class="catalog-card__banner" src="src/assets/images/static/catalog-card4x.png" alt="Catalog card" width="408" height="260">
            <span class="catalog-card__label">NEW</span>
            </div>
            <div class="catalog-card__info">
              <h2 class="catalog-card__title">Lens Chronicles</h2>
              <span class="catalog-card__subtitle">Photography · Creative</span>
           </div>
           <div class="catalog-card__price-info">
            <span class="catalog-card__price">€20.99</span>
            <div class="catalog-card__buttons-wrapper">
                <button class="catalog-card__button button button--primary-icon">
            <img src="src/assets/images/static/grid.svg" alt="Grid" width="24" height="24">
            </button>
              <button class="catalog-card__button button button--primary-icon">
            <img src="src/assets/images/static/grid.svg" alt="Grid" width="24" height="24">
            </button>
           </div>
           </div>
        </article>
                <article class="catalog-card">
            <div class="catalog-card__banner-wrapper">
            <img class="catalog-card__banner" src="src/assets/images/static/catalog-card4x.png" alt="Catalog card" width="408" height="260">
            <span class="catalog-card__label">NEW</span>
            </div>
            <div class="catalog-card__info">
              <h2 class="catalog-card__title">Lens Chronicles</h2>
              <span class="catalog-card__subtitle">Photography · Creative</span>
           </div>
           <div class="catalog-card__price-info">
            <span class="catalog-card__price">€20.99</span>
            <div class="catalog-card__buttons-wrapper">
                <button class="catalog-card__button button button--primary-icon">
            <img src="src/assets/images/static/grid.svg" alt="Grid" width="24" height="24">
            </button>
              <button class="catalog-card__button button button--primary-icon">
            <img src="src/assets/images/static/grid.svg" alt="Grid" width="24" height="24">
            </button>
           </div>
           </div>
        </article>
    </div>
</section>