<aside class="form-sidebar">
  <form class="form-sidebar__filter" action="url" method="get">
    <fieldset class="form-sidebar__group">
      <legend class="form-sidebar__group-title">Categories</legend>
      <div class="form-sidebar__group-wrapper">
        <!-- чекбоксы -->
        <label class="checkbox-wrapper">
          <input type="checkbox" id="all-categories" name="clothing" value="all-categories" class="checkbox-input"/>
          <span class="custom-checkbox"></span>
          All Categories
        </label>
        <!-- остальные чекбоксы категорий -->
        <label class="checkbox-wrapper">
          <input type="checkbox" id="technology" name="clothing" value="technology" class="checkbox-input"/>
          <span class="custom-checkbox"></span>
          Technology
        </label>
        <label class="checkbox-wrapper">
          <input type="checkbox" id="travel" name="clothing" value="travel" class="checkbox-input"/>
          <span class="custom-checkbox"></span>
          Travel & Tourism
        </label>
        <label class="checkbox-wrapper">
          <input type="checkbox" id="health" name="clothing" value="health" class="checkbox-input"/>
          <span class="custom-checkbox"></span>
          Health & Fitness
        </label>
        <label class="checkbox-wrapper">
          <input type="checkbox" id="ecommerce" name="clothing" value="ecommerce" class="checkbox-input"/>
          <span class="custom-checkbox"></span>
          E-Commerce
        </label>
        <label class="checkbox-wrapper">
          <input type="checkbox" id="education" name="clothing" value="education" class="checkbox-input"/>
          <span class="custom-checkbox"></span>
          Education
        </label>
        <label class="checkbox-wrapper">
          <input type="checkbox" id="entertainment" name="clothing" value="entertainment" class="checkbox-input"/>
          <span class="custom-checkbox"></span>
          Entertainment
        </label>
        <label class="checkbox-wrapper">
          <input type="checkbox" id="others" name="clothing" value="others" class="checkbox-input"/>
          <span class="custom-checkbox"></span>
          Others
        </label>
        <label class="checkbox-wrapper">
          <input type="checkbox" id="sto" name="clothing" value="sto" class="checkbox-input"/>
          <span class="custom-checkbox"></span>
          Sto to tam
        </label>
      </div>
    </fieldset>

    <fieldset class="form-sidebar__group">
      <legend class="form-sidebar__group-title">Format Type</legend>
      <div class="form-sidebar__group-wrapper">
        <label class="radio-wrapper">
          <input type="radio" class="radio-input visually-hidden" name="format-type" value="figma" />
          <span class="custom-radio"></span>
          Figma
        </label>
        <label class="radio-wrapper">
          <input type="radio" class="radio-input visually-hidden" name="format-type" value="sketch" />
          <span class="custom-radio"></span>
          Sketch
        </label>
        <label class="radio-wrapper">
          <input type="radio" class="radio-input visually-hidden" name="format-type" value="adobe-xd" />
          <span class="custom-radio"></span>
          Adobe XD
        </label>
        <label class="radio-wrapper">
          <input type="radio" class="radio-input visually-hidden" name="format-type" value="adobe-photoshop" />
          <span class="custom-radio"></span>
          Adobe Photoshop
        </label>
        <label class="radio-wrapper">
          <input type="radio" class="radio-input visually-hidden" name="format-type" value="adobe-illustration" />
          <span class="custom-radio"></span>
          Adobe Illustration
        </label>
      </div>
    </fieldset>

    <fieldset class="form-sidebar__group">
      <legend class="form-sidebar__group-title">Style</legend>
      <div class="form-sidebar__group-wrapper">
        <label class="form-sidebar__checkbox">
          <input type="checkbox" name="skin" value="minimalist" class="switcher__input visually-hidden">
          <span class="switcher__label"></span>
          Minimalist
        </label>
        <label class="form-sidebar__checkbox">
          <input type="checkbox" name="skin" value="modern" class="switcher__input visually-hidden">
          <span class="switcher__label"></span>
          Modern
        </label>
        <label class="form-sidebar__checkbox">
          <input type="checkbox" name="skin" value="playful" class="switcher__input visually-hidden">
          <span class="switcher__label"></span>
          Playful
        </label>
        <label class="form-sidebar__checkbox">
          <input type="checkbox" name="skin" value="dark-mode" class="switcher__input visually-hidden">
          <span class="switcher__label"></span>
          Dark Mode
        </label>
        <label class="form-sidebar__checkbox">
          <input type="checkbox" name="skin" value="photocentric" class="switcher__input visually-hidden">
          <span class="switcher__label"></span>
          Photocentric
        </label>
      </div>
    </fieldset>

    <div class="form-sidebar__price-filter">
      <h3 class="form-sidebar__price-title">Price</h3>
      <div class="form-sidebar__slider">
        <div class="form-sidebar__filled"></div>
        <div class="form-sidebar__thumb form-sidebar__thumb--left"></div>
        <div class="form-sidebar__thumb form-sidebar__thumb--right"></div>
      </div>
      <div class="form-sidebar__price-labels">
        <span class="form-sidebar__price">€5</span>
        <span class="form-sidebar__price">€50</span>
      </div>
    </div>

    <button class="form-sidebar__button button button--secondary" type="submit">
      {{ icon('x-close', 'icon') }}
      Clear all filters
    </button>
  </form>
</aside>