<aside class="form-sidebar">
  <form class="form-sidebar__filter" action="url" method="get">
    <fieldset class="form-sidebar__group">
  <legend class="form-sidebar__group-title">Categories</legend>
<div class="form-sidebar__group-wrapper">
  <label class="checkbox-wrapper">
    <input type="checkbox" id="all-categories" name="clothing" value="all-categories" class="checkbox-input"/>
    <span class="custom-checkbox"></span>
    All Categories
  </label>
  <label class="checkbox-wrapper">
    <input type="checkbox" id="technology" name="clothing" value="technology" class="checkbox-input"/>
    <span class="custom-checkbox"></span>
    Technology
  </label>
  <label class="checkbox-wrapper">
    <input type="checkbox" id="travel" name="clothing" value="travel" class="checkbox-input"/>
    <span class="custom-checkbox"></span>
    Travel & Tourism
  </label>
  <label class="checkbox-wrapper">
    <input type="checkbox" id="health" name="clothing" value="health" class="checkbox-input"/>
    <span class="custom-checkbox"></span>
    Health & Fitness
  </label>
  <label class="checkbox-wrapper">
    <input type="checkbox" id="ecommerce" name="clothing" value="ecommerce" class="checkbox-input"/>
    <span class="custom-checkbox"></span>
    E-Commerce
  </label>
  <label class="checkbox-wrapper">
    <input type="checkbox" id="education" name="clothing" value="education" class="checkbox-input"/>
    <span class="custom-checkbox"></span>
    Education
  </label>
  <label class="checkbox-wrapper">
    <input type="checkbox" id="entertainment" name="clothing" value="entertainment" class="checkbox-input"/>
    <span class="custom-checkbox"></span>
    Entertainment
  </label>
  <label class="checkbox-wrapper">
    <input type="checkbox" id="others" name="clothing" value="others" class="checkbox-input"/>
    <span class="custom-checkbox"></span>
    Others
  </label>
  <label class="checkbox-wrapper">
    <input type="checkbox" id="others" name="clothing" value="others" class="checkbox-input"/>
    <span class="custom-checkbox"></span>
    Others
  </label>
</div>
</fieldset>

    <fieldset class="form-sidebar__group">
      <legend class="form-sidebar__group-title">Format Type</legend>
      <div class="form-sidebar__group-wrapper">
        <label class="radio-wrapper">
          <input type="radio" class="radio-input visually-hidden" name="format-type" value="figma" />
          <span class="custom-radio"></span>
         Figma
        </label>
        <label class="radio-wrapper">
          <input type="radio" class="radio-input visually-hidden" name="format-type" value="sketch" />
          <span class="custom-radio"></span>
          Sketch
        </label>
        <label class="radio-wrapper">
          <input type="radio" class="radio-input visually-hidden" name="format-type" value="adobe-xd" />
          <span class="custom-radio"></span>
         Adobe XD
        </label>
        <label class="radio-wrapper">
          <input type="radio" class="radio-input visually-hidden" name="format-type" value="adobe-photoshop" />
          <span class="custom-radio"></span>
         Adobe Photoshop
        </label>
         <label class="radio-wrapper">
          <input type="radio" class="radio-input visually-hidden" name="format-type" value="adobe-illustration" />
          <span class="custom-radio"></span>
         Adobe Illustration
        </label>
      </div>
    </fieldset>
    
    <fieldset class="form-sidebar__group">
      <legend class="form-sidebar__group-title">Style</legend>
      <div class="form-sidebar__group-wrapper">
        <label class="form-sidebar__checkbox">
          <input type="checkbox" name="skin" value="skin1" class="switcher__input visually-hidden">
          <span class="switcher__label"></span>
          Minimalist
        </label>
        <label class="form-sidebar__checkbox">
          <input type="checkbox" name="skin" value="skin2" class="switcher__input visually-hidden">
          <span class="switcher__label"></span>
          Modern
        </label>
         <label class="form-sidebar__checkbox">
          <input type="checkbox" name="skin" value="skin2" class="switcher__input visually-hidden">
          <span class="switcher__label"></span>
          Playful
        </label>
         <label class="form-sidebar__checkbox">
          <input type="checkbox" name="skin" value="skin2" class="switcher__input visually-hidden">
          <span class="switcher__label"></span>
          Dark Mode
        </label>
         <label class="form-sidebar__checkbox">
          <input type="checkbox" name="skin" value="skin2" class="switcher__input visually-hidden">
          <span class="switcher__label"></span>
          Photocentric
        </label>
      </div>
    </fieldset>
    <button class="form-sidebar__button button button--secondary" type="submit">
  <img src="src/assets/images/static/x-close.svg" alt="X" class="button__icon">
  Clear all filters
</button>
  </form>
</aside>