:root {

    --font-base: 'Libre Franklin', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    --font-accent: 'Plus Jakarta Sans', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;

    --color-primary: rgba(13, 13, 21, 1);
    --color-secondary: rgba(42, 53, 65, 0.85);
    --color-secondary2: rgba(42, 53, 65, 0.7);
    --color-base-icon: rgba(39, 53, 68, 0.55);
    --color-disabled: rgba(34, 52, 73, 0.4);
    --subtitle-color : rgba(34, 34, 34, 1);
  
    --color-primary-invert: rgba(248, 247, 255, 1);
    --color-secondary-invert: rgba(239, 245, 250, 0.82);
    --color-secondary2-invert: rgba(231, 238, 247, 0.66);
    --color-base-icon-invert: rgba(231, 241, 253, 0.49);
    --color-disabled-invert: rgba(229, 236, 251, 0.36);
    --color-primary-white: rgba(245, 248, 251, 1);

    --color-base: rgba(255, 255, 255, 1);
    --color-base--gradient: rgba(255, 255, 255, 0.5);
    --color-alternative: rgba(248, 250, 252, 1);
    --color-alternative2: rgba(244, 247, 250, 1);
    --color-alternative-invert: rgba(26, 25, 37, 1);
    --color-alternative2-invert: rgba(29, 28, 40, 1);
    --box-shadow-color: rgba(29, 57, 95, 0.05);
    --box-shadow-color2 :rgba(29, 57, 95, 0.08);
    --background-card-color: rgba(240, 246, 253, 1);
    --background-card-color2: rgba(255, 255, 255, 0);
    --shadow--filter--color: rgba(29, 57, 95, 0.02);

    --color-marina-1200: rgba(0, 39, 84, 1);
    --color-marina-1100: rgba(0, 53, 113, 1);
    --color-marina-1000: rgba(0, 68, 145, 1);
    --color-marina-900: rgba(0, 84, 182, 1);
    --color-marina-800: rgba(2, 101, 220, 1);
    --color-marina-700: rgba(20, 122, 243, 1);
    --color-marina-600: rgba(56, 146, 243, 1);
    --color-marina-500: rgba(89, 167, 246, 1);
    --color-marina-400: rgba(120, 187, 250, 1);
    --color-marina-300: rgba(150, 206, 253, 1);
    --color-marina-200: rgba(181, 222, 255, 1);
    --color-marina-100: rgba(202, 232, 255, 1);
    --color-marina-50:  rgba(224, 242, 255, 1);
    
    --color-accent-link: rgba(2, 101, 220, 1);
    --color-line: rgba(31, 50, 71, 0.27);
    --color-separator: rgba(41, 77, 117, 0.09);
    --color-separator-bold: rgba(29, 54, 83, 0.17);
    --color-focus: rgba(56, 146, 243, 1);
    
    --color-accent-link-invert: rgba(120, 187, 250, 1);
    --color-line-invert: rgba(212, 217, 242, 0.26);
    --color-separator-invert: rgba(191, 197, 238, 0.12);
    --color-separator-bold-invert: rgba(208, 215, 251, 0.17);
    --color-focus-invert: rgba(150, 206, 253, 1);
    
    --color-neutral: rgba(137, 144, 153, 1);
    --color-negative: rgba(234, 56, 41, 1);
    --color-high: rgba(203, 93, 0, 1);
    --color-medium: rgba(248, 217, 4, 1);
    --color-info: rgba(157, 87, 244, 1);
    --color-positive: rgba(0, 143, 93, 1);
    --color-label-new: rgba(0, 119, 114, 1);

    --color-red: rgba(255, 237, 235, 1);
    --color-orange: rgba(255, 244, 229, 1);
    --color-yellow: rgba(255, 247, 214, 1);
    --color-grass: rgba(220, 244, 230, 1);
    --color-emerald: rgba(214, 245, 242, 1);
    --color-marengo: rgba(213, 245, 249, 1);
    --color-marina: rgba(224, 242, 255, 1);
    --color-indigo: rgba(237, 238, 255, 1);
    --color-purple: rgba(246, 235, 255, 1);
    --color-violet: rgba(254, 234, 250, 1);
    --color-magenta: rgba(255, 234, 241, 1);
    --color-grey: rgba(244, 247, 250, 1);
    --color-white: rgba(255, 255, 255, 1);
    
    --color-red-invert: rgba(89, 0, 0, 1);
    --color-orange-invert: rgba(73, 25, 1, 1);
    --color-yellow-invert: rgba(54, 37, 0, 1);
    --color-grass-invert: rgba(10, 46, 29, 1);
    --color-emerald-invert: rgba(18, 44, 43, 1);
    --color-marengo-invert: rgba(0, 42, 70, 1);
    --color-marina-invert: rgba(0, 39, 84, 1);
    --color-indigo-invert: rgba(27, 30, 100, 1);
    --color-purple-invert: rgba(51, 16, 106, 1);
    --color-violet-invert: rgba(71, 14, 70, 1);
    --color-magenta-invert: rgba(84, 3, 42, 1);
    --color-grey-invert: rgba(43, 51, 62, 1);
    --color-white-invert: rgba(32, 38, 49, 1);

    --tran-duration: 0.25s;
    --btn-padding: 18px 32px;
    --btn-icon-padding :8px;
    --gap-between-mob: 32px;
}